:root {
  --azul: #06052f;
  --dourado: #b8860b;
  --branco: #f3f1ec;
  --cinza: #E5E5E5;
  --preto: #111;
  --bg-preto: #000000;

}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--branco);
  color: var(--texto);
  padding-top: 100px;
  transition: background-color 0.5s, transform 0.5s;
}

a {
  text-decoration: none;
  color: var(--dourado);
}

/* ===================== CABEÇALHO ===================== */
#header {
  background-color: var(--azul);
  color: var(--branco);
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--azul);
  color: var(--branco);
  padding: 20px 10px;
  font-family: Arial, sans-serif;
}

.logo {
  height: 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: var(--branco);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--dourado);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* ===================== TÍTULO + CARROSSEL ===================== */
.texto-cabecalho-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: 600;
}

.texto-esquerda {
  flex: 1;
  min-width: 280px;
}

.imagem-direita {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.imagem-direita img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.texto-cabecalho-grid span {
  color: var(--dourado);
}

.texto-cabecalho-grid .habilidades {
  margin-top: 10px;
  color: var(--dourado);
}


/* ===================== CONTEÚDO GERAL ===================== */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

.subtitulo {
  color: var(--dourado);
  font-size: 2em;
  margin-bottom: 20px;
}

.modalidades,
.galeria,
.contato,
.home,
.sobre,
.header {
  scroll-margin-top: 55px;
}

@media (max-width: 768px) {

  .modalidades,
  .galeria,
  .contato,
  .home,
  .sobre,
  .header {
    scroll-margin-top: 130px;
  }
}

@media (max-width: 480px) {

  .modalidades,
  .galeria,
  .contato,
  .home,
  .sobre,
  .header {
    scroll-margin-top: 200px;
  }
}

.modalidades,
.galeria,
.contato {
  margin-top: 40px;
}

/* ===================== MODALIDADES ===================== */
.lista-modalidades {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lista-modalidades div {
  flex: 1 1 250px;
  background-color: var(--cinza);
  padding: 20px;
  border-radius: 8px;
}

.lista-modalidades div:hover {
  background-color: var(--dourado);
  transform: translateY(-10px);
  transition: background-color 0.5s, transform 0.5s;
  cursor: pointer;
}

/* ===================== GALERIA ===================== */
.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.galeria-grid img {
  width: 100%;
  border-radius: 10px;
  border: 3px solid var(--dourado);
}

/* ===================== FORMULÁRIO ===================== */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--azul);
  border-radius: 5px;
}

button {
  margin-top: 10px;
  background-color: var(--dourado);
  color: var(--azul);
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--dourado)
}

/* ===================== RODAPÉ ===================== */
footer {
  background-color: var(--azul);
  color: var(--branco);
  text-align: center;
  padding: 20px;
}

/* BOTÃO DE MODO ESCURO FIXO */
.botao-darkmode-fixo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: 2px solid var(--dourado);
  color: var(--dourado);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
}

.botao-darkmode-fixo:hover {
  background-color: var(--dourado);
  color: var(--branco);
}

/* MODO ESCURO */
body.modo-escuro {
  background-color: var(--bg-preto);
  color: var(--branco);
  transition: background-color 0.5s, transform 0.5s;
}

body.modo-escuro .lista-modalidades div {
  background-color: var(--preto);
  color: var(--branco);
  border-color: var(--branco)
}

body.modo-escuro .lista-modalidades div:hover {
  background-color: var(--dourado);
  transform: translateY(-10px);
  transition: background-color 0.5s, transform 0.5s;
  cursor: pointer;
}

body.modo-escuro input,
body.modo-escuro textarea {
  background-color: var(--preto);
  color: var(--branco);
  border-color: var(--branco)
}

body.modo-escuro a {
  color: var(--branco);
}

body.modo-escuro .botao-darkmode-fixo {
  border-color: var(--dourado);
  color: var(--dourado);
}

body.modo-escuro .botao-darkmode-fixo:hover {
  background-color: var(--dourado);
  color: var(--preto)
}